<section>
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <div class="product_single">
        <h1>Edit Product</h1>
        <%= render "form", url: "/products/#{@product.id}", verb: :patch, message: "Update Product" %>
      </div>
    </div>
  </div>
</section>
