    <section>
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
          <div class="product_single">
            <h1>Create a new nerdy product:</h1>
            <%= render "form", url: "/products", verb: :post, message: "Process New Nerdiness" %>
          </div>
        </div>
      </div>
    </section>
